<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_ResponsiveImages>
            <version>1.0.0</version>
        </Edge_ResponsiveImages>
    </modules>
    <global>
        <blocks>
            <responsiveimages>
                <class>Edge_ResponsiveImages_Block</class>
            </responsiveimages>
        </blocks>
        <helpers>
            <responsiveimages>
                <class>Edge_ResponsiveImages_Helper</class>
            </responsiveimages>
        </helpers>
        <models>
            <responsiveimages>
                <class>Edge_ResponsiveImages_Model</class>
            </responsiveimages>
        </models>
        <events>
            <catalog_category_save_after>
                <observers>
                    <responsiveimages_generate_category_images>
                        <type>singleton</type>
                        <class>responsiveimages/observer</class>
                        <method>categorySaveAfter</method>
                    </responsiveimages_generate_category_images>
                </observers>
            </catalog_category_save_after>
            <catalog_product_save_before>
                <observers>
                    <responsiveimages_queue_product_generator>
                        <type>singleton</type>
                        <class>responsiveimages/observer</class>
                        <method>productSaveBefore</method>
                    </responsiveimages_queue_product_generator>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <responsiveimages_generate_product_images>
                        <type>singleton</type>
                        <class>responsiveimages/observer</class>
                        <method>productSaveAfter</method>
                    </responsiveimages_generate_product_images>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <responsiveimages>
                <use>admin</use>
                <args>
                    <module>Edge_ResponsiveImages</module>
                    <frontName>responsiveimages</frontName>
                </args>
            </responsiveimages>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <responsiveimages>
                    <file>responsiveimages.xml</file>
                </responsiveimages>
            </updates>
        </layout>
    </frontend>
    <default>
        <catalog>
            <responsiveimages>
                <type>picture</type>
            </responsiveimages>
        </catalog>
    </default>
</config>