<?xml version="1.0"?>
<config>
    <sections>
        <catalog>
            <groups>
                <responsiveimages translate="label">
                    <label>Responsive Images</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <type translate="label">
                            <label>HTML Tag</label>
                            <frontend_type>select</frontend_type>
                            <source_model>responsiveimages/system_config_source_tagType</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </type>
                        <link translate="label">
                            <label>Link to Base Image</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </link>
                        <sizes translate="comment">
                            <label></label>
                            <frontend_model>responsiveimages/system_config_form_field_sizes</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Image widths will be generated using these values.</comment>
                        </sizes>
                        <generate_images translate="button_label">
                            <label></label>
                            <button_label>Generate Images</button_label>
                            <frontend_model>responsiveimages/system_config_form_button</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </generate_images>
                    </fields>
                </responsiveimages>
            </groups>
        </catalog>
    </sections>
</config>
